.layout {
  max-width: 100vw;
  max-height: 100vh;
}

.root__card {
  padding: 1rem;

}

.table__tab {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
}

.media__tab {
  padding-right: 1rem;
  width: 100%;
  height: 100%;
}
