@import "~antd/dist/antd.css";
@import "~video-react/dist/video-react.css";

/* .ant-table-wrapper .ant-table .ant-table-container table {

  padding: 1rem;
}
.ant-table-wrapper .ant-table .ant-table-container table ::-webkit-scrollbar {
  width: 5px;
  position: relative;
  right: -50px;
}
.ant-table-wrapper
  .ant-table
  .ant-table-container
  table
  ::-webkit-scrollbar-thumb {
  background: #888;
}
.ant-table-wrapper
  .ant-table
  .ant-table-container
  table
  ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ant-table-wrapper .ant-table .ant-table-container thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.ant-table-wrapper .ant-table .ant-table-container table tbody {
  height: calc(100vh - 12.8125rem);
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
} */

.ant-table-wrapper .ant-table .ant-table-container table {
  height: calc(100vh - 6rem);
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
}
